/data/postgres_data/*
!/data/postgres_data/.gitkeep
/data/pgadmin/*
!/data/pgadmin/.gitkeep
/airflow/plugins/*
!/airflow/plugins/.gitkeep
/airflow/logs/*
!/airflow/logs/.gitkeep
/airflow/data/*
!/airflow/data/.gitkeep
/access_token.txt
/test.py
/venv/**
**/__pycache__/
/api/api2.py
