
body{
    margin: 2em;
    font-size: 11;
    font-family: 'Playfair Display', serif;
    background: #EEEEEE;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}

nav{
    position: fixed;
    right: 0;
    top: 0;
    background: #11468F;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 5em;
        a{
            font-family: 'Lato', sans-serif;
            color: white;
            padding: .75em 2em;
            display: block;
            width: 100%;
            &:hover{
                background-color: #0E3974;
            }
        }
    }
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    .Newsfeed{
        color: #11468F;
        font-weight: bold;
        font-size: 3em;
    }

    svg{
        width: 2.2em;
        margin-top: -.1em;
        margin-bottom: -.1em;
        cursor: pointer;
    }
}
.search{
    justify-content: center;
    display: flex;
.searchbar{
        width: 90%;
        box-sizing:border-box;
        text-align: center;
        background-color:  #11468F;
        font-family: 'Lato', sans-serif;
        border: none;
        padding: .7em;
        border-radius: 50px;
        color: white;}

.searchbutton{
        float: right;
        margin-left: 1em;
        width: 3rem;
        height: 2.2rem;
        border: none;
        background: none;
        &:hover{
            background-color: #C1C1C1;
        }
        svg{
            fill:#11468F;
            width: 2.5rem;
            height: 2rem;
        }
    }
}

::placeholder{
    color: white;
    text-align: center;
    
}
.article{
    background-color: #E5E5E5;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0%;
    margin-top: .7em;
    border-radius: 12px;
    .title{
        text-decoration: none;
        padding-top: 20px;
        margin-left: .7em;
        margin-right: .7em;
        font-weight: bold;
        font-size: 1.3em;
        color: black;

    }
    .artbody{
    p{
        margin-left: .7em;
        margin-right: .7em;
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
    }
    img{
        width: 100%;
        border-radius: 12px;
        object-fit:cover;
    }
    #ref_title:visited{
        color: black !important;
    }
    #ref_title{
        text-decoration: none;
        color: black !important;
    }
    #ref_title h1{
        color: black !important;
    }
    .summary{
        line-height: 1.5rem;
    }}
}
.open-nav{
    transform: translateX(0%);
}
.close-nav{
    transform: translateX(100%);
}


@media only screen and (min-width: 920px){
    body{
        margin: 1.5em 3em;
        font-family: 'Playfair Display', serif;
        background: #EEEEEE;
    }

}

@media only screen and (min-width: 920px){
    .drawer{
        display: none;
    }
    nav{
        transform: translateX(0%);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        ul{
            display: flex;
            margin-top: 1em;
            a{
                padding: .5em 1.5em;
                font-size: 1.1rem;
                font-weight: bold;                
                color: #11468F;
                &:hover{
                    background: none;
                    text-decoration: underline;
                }
            }
        }

    }
    

}

@media only screen and (min-width: 920px){
    
    .search{
        justify-content: right;
        float: right;
        width: 20%;
        margin-bottom: 30px;

    }
    .article_container{
        width:100%;

    .article{
        margin-top: -.7em;
        margin-bottom: .7em;
        width: 100%;
        background-color: #EEEEEE;
        align-content: flex;
        .title{
            text-decoration: none;
            color: black
        }
        
        .artbody{ 
            width: 100%;
            background-color: #E5E5E5;
            border-radius: 25px;
        }
        p{
            float: left;
            display: flex;
        }
        
        
    }
    


}}

@keyframes moveDown {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}