body {
  margin: 2em;
  font-size: 11;
  font-family: 'Playfair Display', serif;
  background: #EEEEEE;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #11468F;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5em;
}

nav ul a {
  font-family: 'Lato', sans-serif;
  color: white;
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background-color: #0E3974;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

header .Newsfeed {
  color: #11468F;
  font-weight: bold;
  font-size: 3em;
}

header svg {
  width: 2.2em;
  margin-top: -.1em;
  margin-bottom: -.1em;
  cursor: pointer;
}

.search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .searchbar {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #11468F;
  font-family: 'Lato', sans-serif;
  border: none;
  padding: .7em;
  border-radius: 50px;
  color: white;
}

.search .searchbutton {
  float: right;
  margin-left: 1em;
  width: 3rem;
  height: 2.2rem;
  border: none;
  background: none;
}

.search .searchbutton:hover {
  background-color: #C1C1C1;
}

.search .searchbutton svg {
  fill: #11468F;
  width: 2.5rem;
  height: 2rem;
}

::-webkit-input-placeholder {
  color: white;
  text-align: center;
}

:-ms-input-placeholder {
  color: white;
  text-align: center;
}

::-ms-input-placeholder {
  color: white;
  text-align: center;
}

::placeholder {
  color: white;
  text-align: center;
}

.article {
  background-color: #E5E5E5;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0%;
  margin-top: .7em;
  border-radius: 12px;
}

.article .title {
  padding-top: 20px;
  margin-left: .7em;
  margin-right: .7em;
  font-weight: bold;
  font-size: 1.3em;
}

.article .artbody p {
  margin-left: .7em;
  margin-right: .7em;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
}

.article .artbody img {
  width: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article .artbody #ref_title:visited {
  color: black !important;
}

.article .artbody #ref_title {
  text-decoration: none;
  color: black !important;
}

.article .artbody #ref_title h1 {
  color: black !important;
}

.article .artbody .summary {
  line-height: 1.5rem;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.close-nav {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media only screen and (min-width: 920px) {
  body {
    margin: 1.5em 3em;
    font-family: 'Playfair Display', serif;
    background: #EEEEEE;
  }
}

@media only screen and (min-width: 920px) {
  .drawer {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
  }
  nav ul a {
    padding: .5em 1.5em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #11468F;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 920px) {
  .search {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    float: right;
    width: 20%;
    margin-bottom: 30px;
  }
  .art_image {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 20%;
  }
  .article {
    margin-top: -.7em;
    margin-bottom: .7em;
    float: right;
    background-color: #EEEEEE;
    -ms-flex-line-pack: flex;
        align-content: flex;
  }
  .article .artbody {
    background-color: #E5E5E5;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article p {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */